In [27]:
# List
list_nama_siswa = ["Kevin", "Evelyn", "Rafa", "David"] #kurung [] untuk membuat list

# akses elemen di dalam list (idex = start 0)
print(list_nama_siswa[1])

Evelyn

In [28]:
# mencoba method
# menambah / menghapus

# menambah append() => akhir index
list_nama_siswa.append("Jacob")
print(list_nama_siswa)

['Kevin', 'Evelyn', 'Rafa', 'David', 'Jacob']

In [29]:
# menambah method insert(lokasi index, nama elemen)
list_nama_siswa.insert(1, "Ario")
print(list_nama_siswa)

['Kevin', 'Ario', 'Evelyn', 'Rafa', 'David', 'Jacob']

In [30]:
# method hapus

# remove, pop
list_nama_siswa.remove("David")
print(list_nama_siswa)

['Kevin', 'Ario', 'Evelyn', 'Rafa', 'Jacob']

In [31]:
# pop = hapus elemen berdasarkan index
list_nama_siswa.pop(3)
print(list_nama_siswa)

['Kevin', 'Ario', 'Evelyn', 'Jacob']

In [32]:
# akses element dari list
list_nama_siswa[2]

'Evelyn'

In [33]:
# slicing / memotong list
print(list_nama_siswa[0:3]) # start:end

['Kevin', 'Ario', 'Evelyn']

In [34]:
# kita bisa menambah list dengan list baru
list_siswa_baru = ["Brandon", "Michael"]
list_nama_siswa =  list_nama_siswa + list_siswa_baru
print(list_nama_siswa)

['Kevin', 'Ario', 'Evelyn', 'Jacob', 'Brandon', 'Michael']

In [35]:
# kita bisa akes elemen paling belakang dengan (-1)
print(list_nama_siswa[-1]) #akses data paling akhir

Michael

In [36]:
# Set (Himpunan)

nama_siswa = {'Kevin', 'Ario', 'Evelyn', 'Jacob', 'Brandon', 'Michael'}
print(nama_siswa)

{'Michael', 'Jacob', 'Brandon', 'Ario', 'Kevin', 'Evelyn'}

In [38]:
# method tambah dan hapus

# method tambah (add)
nama_siswa.add("Charlie")
print(nama_siswa)
nama_siswa.add("Jacob")
print(nama_siswa)

{'Michael', 'Jacob', 'Brandon', 'Charlie', 'Ario', 'Kevin', 'Evelyn'}
{'Michael', 'Jacob', 'Brandon', 'Charlie', 'Ario', 'Kevin', 'Evelyn'}

In [ ]:
# method hapus (remove, discard)
nama_siswa.remove("Jacob")
print(nama_siswa)

KeyError: 'jacob'

In [40]:
# method hapus (remove, discard)
nama_siswa.discard("jacob")
print(nama_siswa)

{'Michael', 'Jacob', 'Brandon', 'Charlie', 'Ario', 'Kevin', 'Evelyn'}

In [46]:
# selisih, gabungan, irisan
nama_siswa_pertama = {'Michael', 'Jacob', 'Brandon', 'Charlie', 'Ario', 'Kevin', 'Evelyn'}
nama_siswa_kedua = {'Michael', 'Jacob', 'Brandon', 'Charlie', 'Chaplin', 'Trump'}

# gabungan
print(nama_siswa_pertama | nama_siswa_kedua) # |

# selisih
print(nama_siswa_pertama - nama_siswa_kedua) # -

# irisan
print(nama_siswa_pertama & nama_siswa_kedua) # &

{'Michael', 'Jacob', 'Brandon', 'Chaplin', 'Kevin', 'Charlie', 'Evelyn', 'Trump', 'Ario'}
{'Ario', 'Kevin', 'Evelyn'}
{'Michael', 'Jacob', 'Charlie', 'Brandon'}

In [47]:
# Dictionary
kontak_telepon = {
    # Key : Value ,
    "Kevin": 998,
    "Evelyn": 997,
    "Senvin": 996,
    "Brandon": 995
}

# tambah data ke dictionary
kontak_telepon["Ario"] = 994
print(kontak_telepon)

{'Kevin': 998, 'Evelyn': 997, 'Senvin': 996, 'Brandon': 995, 'Ario': 994}

In [50]:
# untuk akses nilai/value
kontak_telepon["Evelyn"]

997

In [51]:
# menghapus data dalam dictionary (del, pop)
del kontak_telepon["Ario"]

In [53]:
kontak_telepon.pop("Evelyn")

997

In [54]:
# akses elemen di dictionray
kontak_telepon.keys()

dict_keys(['Kevin', 'Senvin', 'Brandon'])

In [56]:
kontak_telepon.values()

dict_values([998, 996, 995])

In [57]:
kontak_telepon.items()

dict_items([('Kevin', 998), ('Senvin', 996), ('Brandon', 995)])

In [59]:
nilai_siswa = {
    # Key : Value ,
    "Kevin": 90,
    "Evelyn": 90,
    "Senvin": 85,
    "Brandon": 80
}

for nama, nilai in nilai_siswa.items():
    if nilai > 85:
        print("kamu nilai tinggi", nama)

kamu nilai tinggi Kevin
kamu nilai tinggi Evelyn

In [64]:
# 1 - 10
for i in range(1, 11):
    print(i)
print("Hello world")

1
2
3
4
5
6
7
8
9
10
Hello world

In [66]:
# Function
'''
# sintax
def nama_function(isi_parameter):
    # isi functionnya
    
# panggil function
nama_function(isi_paramater)
'''

def sapa(nama):
    print(f"Halo, {nama}")
    

sapa("Evelyn")
sapa("Ario")

Halo, Evelyn
Halo, Ario

In [ ]:
# Jenis Function tanpa paramater
def sapa():
    print("Halo teman-teman")
    
sapa()

Halo teman-teman

In [ ]:
# jenis function dengan parameter
def sapa(nama):
    print(f"Halo, {nama}")

In [ ]:
def bmi_count(berat, tinggi):
    berat = berat / 100
    hasil = berat / (tinggi ** 2)

    # rumus salah
    if hasil > 55:
        return "Sehat"
    elif hasil < 55 and hasil > 40:
        return "Obes"
    else:
        return "Kurus"
    

# input berat dan tinggi
berat = int(input("berat: "))
tinggi = int(input("tinggi: "))
print(bmi_count(65, 170))
print(bmi_count(berat, tinggi))

Kurus
Kurus

In [ ]:
def tambah_return(a, b):
    return a + b # kembalikan nilainya

In [ ]:
def tambah_print(a, b):
    print(a + b) # cetak

In [82]:
a = 10
b = 5
# kosong
print(tambah_return(a, b))

15

In [84]:
hasil = 2 * tambah_return(10, 5)
print(hasil)

30

In [86]:
# function dengan default parameter
def lokasi(lok="Indonesia"):
    print(f"Kau berada di {lok}")

lokasi("Inggris")
lokasi()

Kau berada di Inggris
Kau berada di Indonesia

In [ ]:
def luas_lingkaran(r, phi = 3.14):
    return r * phi

In [89]:
# Looping
# while

angka_diulang = 1

while angka_diulang <= 10:
    print(angka_diulang)
    angka_diulang += 1 # angka_diulang = angka_diulang + 1 increment

1
2
3
4
5
6
7
8
9
10

In [91]:
# looping
'''
for i (inisialisasi) in range(1, 10):
    print(i)
'''

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10