In [ ]:
# komentar = suatu baris kode yang tidak akan di cetak/tampilkan/eksekusi
# memberikan deskripsi ke kode kita
# mematikan kode
# print("Hello World")
# single line komentar
'''
ini mutliple line
komentar
'''
"""
baris 1
baris 2
baris 3
"""
print("hello world") # ini cetak hello world
# inline komentar

hello world

In [ ]:
# Variabel = Wadah / Penampung
tinggi = 170 # kita membuat variabel dengan nama 'tinggi'

# cetak variable
print(tinggi)

# tinggi X Tinggi
# case sensitive

# nama siswa = "Evelyn" # membuat variabel nama siswa

# aturan penulisan variabel

# menggunakan spasi jika 2 kata
# X nama siswa = "Evelyn" # membuat variabel nama siswa
# 4nama = "evelyn" akan membaca angka bukan nama variabel
# @nama = "evelyn"

# rekomendasi penamaan variabel
# snake case
tinggiSiswa = 170

# camel case
TinggiSiswa = 172

# pascal case
tinggi_siswa = 171

170

In [27]:
# Data Types

# tipe data teks
nama_siswa = "Evelyn" # tipe data teks/string
print(type(nama_siswa))
teks = "Ario"
print(type(teks))

<class 'str'>
<class 'str'>

In [11]:
# tipe data numeric/angka
usia_siswa = 20 # tipe data int/bil bulat
print(type(usia_siswa))

<class 'int'>

In [13]:
print(usia_siswa) # cetak isi usia siswa

20

In [15]:
# float / desimal
tinggi_siswa = 170.5 # tipe data desimal/pecahan
print(type(tinggi_siswa))

<class 'float'>

In [19]:
angka1 = "20"
angka2 = "30"

tambah = angka1 + angka2
print(tambah)

2030

In [22]:
# boolean (true and false)
suka_python = False
print(suka_python)
print(type(suka_python))

False
<class 'bool'>

In [ ]:
# sequence data types

# list / daftar [] untuk membuat list

list_siswa = ["evelyn", 'ario']
list_nilai = [76, 89, 90, 90.5]
print(type(list_siswa))
print(type(list_nilai))

print(list_siswa[0]) # sequence dimulai urutannya dari 0

<class 'list'>
<class 'list'>
evelyn

In [31]:
# tuple ()
daftar_hari = ("Senin", "Selasa", "Rabu")
print(type(daftar_hari))

<class 'tuple'>

In [38]:
# tipe data range()
# angka = range(start, stop, step)
angka = range(1, 10, 2)
print(type(angka))

<class 'range'>

In [40]:
# tipe data dictionary { key:value}
kontak_telepon = {
    "evelyn": 886,
    "ario": 889
}
print(type(kontak_telepon))

<class 'dict'>

In [45]:
# tipe data set
himpunan_siswa = {"evelyn", "ario"}
list_siswa = ["evelyn", "evelyn", "ario"]
himp_siswa = {"evelyn", "evelyn", "ario"}
print(list_siswa)
print(himp_siswa)
print(type(himpunan_siswa))

['evelyn', 'evelyn', 'ario']
{'evelyn', 'ario'}
<class 'set'>

In [12]:
# String
teks = "Evelyn Belajar Python Programming"

# akses/indexing di string
print(teks[7])

# string slicing (start:stop)
print(teks[0:6])

print(teks[7:]) # : artinya semua

print(teks + " 2")

B
Evelyn
Belajar Python Programming
Evelyn Belajar Python Programming 2

In [ ]:
nama = "evelyn"
usia = 20
tinggi = 175
nama2 = "ario"
usia2 = 23
tinggi2 = 170

print(f"Nama saya adalah {nama} usia saya {usia} dan tinggi {tinggi}") #{} placeholdera

Nama saya adalah evelyn usia saya 20 dan tinggi 175

In [ ]:
daftar_klien = {
    "ario": "03 agustus 2002",
    "evelyn": "04 mey 2025"
}

# print(f"Nama klien {daftar_klien['evelyn']} dan lahir di {daftar_klien.values()}")

print(daftar_klien['ario']) # indexing

03 agustus 2002

In [24]:
# Control Flow 

# operator aritmetika

angka1 = 10
angka2 = 5

print("Hasil tambah: ", angka1 + angka2) # operator +
print("Hasil Kurang: ", angka1 - angka2) # operator -
print("Hasil Pembagian: ", angka1 / angka2) # operator /
print("Hasil Kali: ", angka1 * angka2) # operator *
print("Hasil Sisa Bagi: ", angka1 % angka2) # operator %
print("Hasil Pangka: ", angka1 ** angka2) # operator **

Hasil tambah:  15
Hasil Kurang:  5
Hasil Pembagian:  2.0
Hasil Kali:  50
Hasil Sisa Bagi:  0
Hasil Pangka:  100000

In [ ]:
a = 11
b = 2
print(a / b)

5.5

In [35]:
# operator comparison
a = 10
b = 5

print(a > b) # True
print(a < b) # False
print(a <= b) # False
print(a >= b) # True
print(a == b) # False
print(a != b) # True

True
False
False
True
False
True

In [39]:
# operator logical (and, or)

a = 10
b = 5

print(a > b and a == b) #false
print(a > b and a >= b) #true
print(a > b or a == b) #true
print(a > b or a >= b) #true

False
True
True
True

In [ ]:
# control flow if
nilai_siswa = 89

# kondisi
if nilai_siswa >= 90:
    print("Kamu dapat A")
else:
    print("Kamu kurang gacorr")

Kamu kurang gacorr

In [45]:
# control flow if elif else
nilai_siswa = 67

# kondisi
if nilai_siswa >= 90:
    print("Kamu dapat A")
elif nilai_siswa < 90 and nilai_siswa >= 80:
    print("Kamu dapat B")
elif nilai_siswa < 80 and nilai_siswa >=70:
    print("Kamu dapat C")
else:
    print("Kamu kurang gacorr")

Kamu kurang gacorr